#root {
    height: 800px;
    
}
.container {
    margin-top: 50px;
    
}
#main-section {
    margin-bottom: 0px !important;
}
.contactBox {
    margin-top: 50px;
}
body {
    background: url("../assets/background.jpeg");
}